<!DOCTYPE html>
<html>
<head>

	<title>GoBov - Animal</title>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

</head>

<body>

	<header>

		{{{content}}}

	</header>

	<div class="row">
		<div class="container">
			<div class="card-panel">
				<form method="post" action="/newAnimal" enctype="multipart/form-data" >
					<div class="row">
						<div class="input-field col s6">
							Indentificador (Nome): <input type="text" name="Name" class="validate" required="" aria-required="true" />
						</div>
						<div class="input-field col s6">
							Data de Nascimento: <input type="date" name="Birthday" class="validate" required="" aria-required="true" />
						</div>
						<div class="input-field col s6">
							<div class="row">
								<div class="col s11 valign-wrapper">
									Peso atual: <input type="number" name="Weight" class="validate" required="" aria-required="true" />
								</div>
								<div class="col s1 valign-wrapper">
									kg
								</div>
							</div>
						</div>
						<div class="input-field col s6">
							Tipo:
							<select name="Type" class="validate" required="" aria-required="true">
								{{ #types }}
								<option value="{{ID}}">{{Type}}</option>
								{{ /types }}
							</select>
						</div>
						<div class="input-field col s6">
							Raça:
							<select name="Breed" class="validate" required="" aria-required="true">
								{{ #breeds }}
								<option value="{{ID}}">{{Breed}}</option>
								{{ /breeds }}
							</select>
						</div>
						<div class="input-field col s6">
							Finalidade:
							<select multiple name="Purpose">
								{{ #purposes }}
								<option value="{{ID}}">{{Purpose}}</option>
								{{ /purposes }}
							</select>
						</div>
						<div class="input-field col s6">
							Mãe:
							<select name="Mother" class="validate" required="" aria-required="true">
								<option value="0">Sem mãe</option>
								{{ #mothers }}
								<option value="{{ID}}">{{Name}}</option>
								{{ /mothers }}
							</select>
						</div>
						<div class="input-field col s6">
							Pai:
							<select name="Father" class="validate" required="" aria-required="true">
								<option value="0">Sem pai</option>
								{{ #fathers }}
								<option value="{{ID}}">{{Name}}</option>
								{{ /fathers }}
							</select>
						</div>

						<div class="input-field col s12">
							<div class="file-field input-field">
								<div class="btn teal darken-3">
									<span>Fotos <small>(opcional)</small></span>
									<input name="Pictures" type="file" multiple>
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" name="Pictures" type="text" placeholder="Uma ou mais fotos.">
								</div>
							</div>
						</div>
					</div>
					<div class="right-align">
						<button class="btn waves-effect waves-light teal darken-3"
						type="submit" name="action">
						Salvar <i class="material-icons right">save</i>
					</button>
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$(".button-collapse").sideNav();
		$('select').material_select();
	})
	</script>

</body>


</html>
