<!DOCTYPE html>
<html>
	<head>

		<title>Sisboi - Animal</title>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

		<!--Import materialize.css-->
		<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

	</head>

	<body>

		<header>

			<nav class="teal darken-4">
				<div class="nav-wrapper">
					<a href="index.html" class="brand-logo">Sisboi</a> <a href="index.html"
							   data-activates="mobile-demo" class="button-collapse"><i
				       class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="animal.html">Animal</a></li>
						<li><a href="medicine.html">Medicine</a></li>
						<li><a href="medication.html">Medication</a></li>
						<li><a href="login.html">Sair</a></li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<li><a href="animal.html">Animal</a></li>
						<li><a href="medicine.html">Medicine</a></li>
						<li><a href="Medication">Medication</a></li>
						<li><a href="login">Logout</a></li>
					</ul>
				</div>
			</nav>

		</header>

		<div class="row">
			<div class="container">
				<div class="card-panel">
					<form method="post" action="/newAnimal" enctype="multipart/form-data" >
						<div class="row">
							<div class="input-field col s3">
								Nome: <input type="text" name="Name" />
							</div>
							<div class="input-field col s3">
								DataNasc: <input type="date" name="Birthday" />
							</div>
							<div class="input-field col s3">
								Peso: <input type="text" name="Weight" />
							</div>
							<div class="input-field col s3">
								Tipo: 
								<select name="Type">
									{{ #types }}
									<option value="{{ID}}">{{Type}}</option>
									{{ /types }}
								</select>
							</div>
							<div class="input-field col s3">
								Raça: 
								<select name="Breed">
									{{ #breeds }}
									<option value="{{ID}}">{{Breed}}</option>
									{{ /breeds }}
								</select>
							</div>
							<div class="input-field col s3">
								Finalidade: 
								<select multiple name="Purpose">
									{{ #purposes }}
									<option value="{{ID}}">{{Purpose}}</option>
									{{ /purposes }}
								</select>
							</div>
							<div class="input-field col s6">
								<div class="file-field input-field">
									<div class="btn teal darken-3">
										<span>Fotos</span>
										<input name="Pictures" type="file" multiple>
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text" placeholder="Uma ou mais fotos.">
									</div>
								</div>
							</div>
						</div>
						<div class="right-align">
							<button class="btn waves-effect waves-light teal darken-3"
	       type="submit" name="action">
								Salvar <i class="material-icons right">save</i>
							</button>
						</div>
					</form>
				</div>
			</div>

			<table class="container">
				<thead>
					<tr>
						<th>Foto</th>
						<th>Identificador</th>
						<th>Nascimento</th>
						<th>Peso</th>
						<th>Tipo</th>
						<th>Raça</th>
						<th>Finalidade</th>
					</tr>
				</thead>
				<tbody>
					{{#animals}}
					<tr>
						<td><img src="/pic/{{ID}}" style="width:100px"/> </td>
						<td><a>{{Name}}</a></td>
						<td>{{BirthFmt}}</td>
						<td>{{WeightFmt}}</td>
						<td>{{Type.Type}}</td>
						<td>{{Breed.Breed}}</td>
						<td>{{PurposesFmt}}</td>
						<td><a class="waves-effect waves-light btn-small"><i class="material-icons left">delete</i></a></td>
					</tr>
					{{/animals}}
				</tbody>

			</table>

			<script type="text/javascript"
	   src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
			<script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					$(".button-collapse").sideNav();
					$('select').material_select();
				})
			</script>

	</body>


</html>
