<!DOCTYPE html>
<html>
<head>

	<title>GoBov - Edit Animal</title>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

</head>

<body>

	<header>

		{{{content}}}

	</header>

	<div class="row">
		<div class="container">
			<div class="card-panel">
				<form method="post" action="/renewAnimal/{{animal.ID}}" enctype="multipart/form-data" >
					<div class="row">
						<div class="input-field col s6">
							Indentificador: <input value="{{animal.Name}}" type="text" name="Name" class="validate" required="" aria-required="true" />
						</div>
						<div class="input-field col s6">
							Data de Nascimento: <input value="{{animal.BirthPFmt}}" type="date" name="Birthday" class="validate" required="" aria-required="true" />
						</div>
						<div class="input-field col s6">
							Peso atual: <input value="{{animal.WeightFmt}}"  type="text" name="Weight" class="validate" required="" aria-required="true" />
						</div>
						<div class="input-field col s6">
							Tipo:
							<select id="type" name="Type" class="validate" required="" aria-required="true">
								{{ #types }}
								<option value="{{ID}}">{{Type}}</option>
								{{ /types }}
							</select>
						</div>
						<div class="input-field col s6">
							Raça:
							<select id="breed" name="Breed" class="validate" required="" aria-required="true">
								{{ #breeds }}
								<option value="{{ID}}">{{Breed}}</option>
								{{ /breeds }}
							</select>
						</div>
						<div class="input-field col s6">
							Finalidade:
							<select id="purposes" multiple name="Purpose">
								{{ #purposes }}
								<option value="{{ID}}">{{Purpose}}</option>
								{{ /purposes }}
							</select>
						</div>
						<div class="input-field col s6">
							Mãe:
							<select id="mother" name="Mother" class="validate" required="" aria-required="true">
								<option value="0">Sem mãe</option>
								{{ #mothers }}
								<option value="{{ID}}">{{Name}}</option>
								{{ /mothers }}
							</select>
						</div>
						<div class="input-field col s6">
							Pai:
							<select id="father" name="Father" class="validate" required="" aria-required="true">
								<option value="0">Sem pai</option>
								{{ #fathers }}
								<option value="{{ID}}">{{Name}}</option>
								{{ /fathers }}
							</select>
						</div>

						<div class="input-field col s12">
							<div class="file-field input-field">
								<div class="btn teal darken-3">
									<span>Fotos</span>
									<input name="Pictures" type="file" multiple>
								</div>
								<div class="file-path-wrapper">
									<input value="" class="file-path validate" name="Pictures" type="text" placeholder="Uma ou mais fotos.">
								</div>
							</div>
						</div>
					</div>
					<div class="right-align">
						<button class="btn waves-effect waves-light teal darken-3"
						type="submit" name="action">
						Salvar <i class="material-icons right">save</i>
					</button>
				</div>
			</form>
		</div>
		<div class="right-align">
			<a class="waves-effect waves-light btn teal darken-3" href="/listaAnimal"><i class="material-icons left">list</i>Lista de animais</a>
		</div>
	</div>
</div>

	<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".button-collapse").sideNav();
			$('select').material_select();
			$("#type").val({{animal.Type.ID}});
			$("#breed").val({{animal.Breed.ID}});

			var vet = [
				{{#animal.Purposes}}
					{{ID}},
				{{/animal.Purposes}}
			]

			$.each(vet, function(i,e){
			    $("#purposes option[value='" + e + "']").prop("selected", true);
			});
			$("#mother").val({{animal.MotherID}});
			$("#father").val({{animal.FatherID}});
			$('select').material_select();
		})
	</script>

</body>


</html>
