<!DOCTYPE html>
<html>
<head>

	<title>GoBov - Fazer Medicação</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

</head>
<body>

	<header>

		{{{content}}}

	</header>

	<div class="row container">

		<!-- TODO: Fazer a pesquisa -->
		<form>
			<div class="input-field">
				<i class="material-icons prefix">search</i>
				<input id="search" onkeyup="myFunction()" type="search" required>
				<i class="material-icons">close</i>
			</div>
		</form>

		<table id="myTable" class="highlight responsive-table">
			<thead>
				<tr>
					<th>Descrição</th>
					<th>Data</th>
					<th>Animais</th>
					<th>Remédios</th>
					<th><th>
				</tr>
			</thead>

			<tbody>
				{{ #medications }}
				<tr id="medication-{{ID}}">
					<td>{{Description}}</td>
					<td>{{DateFmt}}</td>
					<td>{{AnimalsFmt}}</td>
					<td>{{MedicinesFmt}}</td>
					<td><a onclick="DelClick({{ID}})" class="waves-effect waves-light btn-small"><i class="material-icons left">delete</i></a></a></td>
				</tr>
				{{ /medications }}
			</tbody>
		</table>

		<div class="fixed-action-btn">
			<a href="/medication" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
		</div>

	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.4/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript">

	$(document).ready(function() {
		$(".button-collapse").sideNav();
	})

	function DelClick(id){
		swal({
			title: 'Você tem certeza?',
			text: "Você não poderá desfazer isso!",
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Sim, delete!'
		}).then((result) => {
			if (result.value) {
				swal(
					'Deletado!',
					'A medicação foi deletada com sucesso.',
					'success'
				)
				$.get('/delMedication/'+id, function(){
					$('#medication-'+id).remove();
				});
			}
		})
		return false;
	}

	function myFunction() {
		var input, filter, table, tr, td, i;
		input = document.getElementById("search");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			desc = tr[i].getElementsByTagName("td")[0];
			data = tr[i].getElementsByTagName("td")[1];
			a = tr[i].getElementsByTagName("td")[2];
			m = tr[i].getElementsByTagName("td")[3];
			if (desc || data || a || m) {
				if (desc.innerHTML.toUpperCase().indexOf(filter) > -1 || data.innerHTML.toUpperCase().indexOf(filter) > -1 || a.innerHTML.toUpperCase().indexOf(filter) > -1 || m.innerHTML.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
	</script>

</body>


</html>
