<!DOCTYPE html>
<html>
<head>

	<title>GoBov - Fazer Medicação</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

	<style type="text/css">
	ol {
		list-style-type: disc;
	}
</style>


</head>
<body>

	<header>

		<nav class="teal darken-4">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">GoBov</a> <a href="/"
				data-activates="mobile-demo" class="button-collapse"><i
				class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/animal">Animal</a></li>
					<li><a href="/medicine">Remédio</a></li>
					<li><a href="/medication">Medicação</a></li>
					<li><a href="/logout">Sair</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/animal">Animal</a></li>
					<li><a href="/medicine">Remédio</a></li>
					<li><a href="/medication">Medicação</a></li>
					<li><a href="/logout">Sair</a></li>
				</ul>
			</div>
		</nav>

	</header>

	<div class="row container">

		<!-- TODO: Fazer a pesquisa -->
		<form>
			<div class="input-field">
				<i class="material-icons prefix">search</i>
				<input id="search" onkeyup="myFunction()" type="search" required>
				<i class="material-icons">close</i>
			</div>
		</form>

		<table id="myTable" class="highlight responsive-table">
			<thead>
				<tr>
					<th>Descrição</th>
					<th>Data</th>
					<th>Animais</th>
					<th>Remédios</th>
				</tr>
			</thead>

			<tbody>
				{{ #medications }}
				<tr>
					<td>{{Description}}</td>
					<td>{{DateFmt}}</td>
					<td>{{AnimalsFmt}}</td>
					<td>{{MedicinesFmt}}</td>
				</tr>
				{{ /medications }}
			</tbody>
		</table>

	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".button-collapse").sideNav();
		})
		
		  function myFunction() {
		    var input, filter, table, tr, td, i;
		    input = document.getElementById("search");
		    filter = input.value.toUpperCase();
		    table = document.getElementById("myTable");
		    tr = table.getElementsByTagName("tr");
		    for (i = 0; i < tr.length; i++) {
		      td = tr[i].getElementsByTagName("td")[0];
		      if (td) {
			if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
			  tr[i].style.display = "";
			} else {
			  tr[i].style.display = "none";
			}
		      }       
		    }
		  }
	</script>

</body>


</html>
