<!DOCTYPE html>
<html>
<head>

	<title>GoBov - Login</title>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

</head>

<body>
	<center>
		<div class="container">
			<div class="card-panel">
				<div class="row">
					<div class="col s6 right-align">
						<img style="height: 100px; width: 100px;" src="/static/cow-icon.png" class="responsive-img">
					</div>
					<div class="col s6 left-align">
						<h4> Entrar </h4>
					</div>
					<div class="row">
						<form class="col s12" action="/auth" method="post">
							<div class="row">
								<div class="input-field col s12">
									<input id="username" name="Username" type="text">
									<label for="username">Nome de usuário</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input id="password" name="Password" type="password" >
									<label for="password">Senha</label>
								</div>
								<center><p>
									Novo por aqui? <a href="/register">Registre-se</a> hoje!
								</p></center>
								<div class="col s12"><br>
									<button class="btn waves-effect waves-light teal darken-3"
									type="submit" name="action">
									Entrar <i class="material-icons right">send</i>
								</button>

							</div>
						</form>
					</div>

				</div>
			</center>
			<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
			<script type="text/javascript">
			{{ #err }}
			Materialize.toast("{{.}}", 3000);
			{{ /err }}
			</script>
		</body>
		</html>
