<nav class="teal darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo" style="padding-left: 8px;">GoBov</a> <a href="/"
    data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/listaAnimal">Animais</a></li>
      <li><a href="/listaMedicine">Remédios</a></li>
      <li><a href="/listaMedication">Medicações</a></li>
      <li><a href="/logout">Sair</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/listaAnimal">Animais</a></li>
      <li><a href="/listaMedicine">Remédios</a></li>
      <li><a href="/listaMedication">Medicações</a></li>
      <li><a href="/logout">Sair</a></li>
    </ul>
  </div>
</nav>
