<!DOCTYPE html>
<html>
<head>

	<title>GoBov Menu do Usuário</title>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

</head>

<body>

	<header>

		{{{content}}}

	</header>
	<div class="container">

		<div class="col s3">

			<div class="row">
				<div>
					<div class="card-panel">
						<h4>Opções de Preferências</h4><br>
						<span><a href="/breed" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Adicionar uma raça</a></span><br>
						<br><span><a href="/purp" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Adicionar um propósito</a></span><br>
						<br><span><a href="/typea" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Acicionar um tipo de animal</a></span><br>
						<br><span><a href="/typem" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Adicionar um tipo de remédio</a></span><br>
						<br><span><a href="/animal" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Adicionar um animal</a></span><br>
						<br><span><a href="/medicine" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Adicionar um remédio</a></span><br>
						<br><span><a href="/medication" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Acicionar uma medicação</a></span><br>
					</div>
				</div>

			</div>

		</div>


		<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<script type="text/javascript">
		$(document).ready(function() {
			$(".button-collapse").sideNav();
		})
		</script>
	</body>
</div>

</html>
