<!DOCTYPE html>
<html>
<head>

	<title>GoBov - Peso Animal</title>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />

</head>

<body>

	<header>

		{{{content}}}

	</header>

	<div class="container">
		<div class="card-panel">
			<form method="post" action="/newWeight/{{animal.ID}}" >
				Peso: <input type="text" name="Weight" />
				Descrição: <input type="text" name="Description" />
				Data: <input type="date" name="Date" />
				<div class="right-align">
					<button class="btn waves-effect waves-light teal darken-3"
					type="submit" name="action">
					Salvar <i class="material-icons right">save</i>
				</button>
			</div>
		</form>
	</div>

	<table>
		<thead>
			<tr>
				<th>Peso</th>
				<th>Descrição</th>
				<th>Data</th>
			</tr>
		</thead>

		<tbody>
			{{#weights}}
			<tr>
				<td>{{Weight}}kg</td>
				<td>{{Description}}</td>
				<td>{{DateFmt}}</td>
				<td><a href="/delWeight/{{ID}}" class="waves-effect waves-light btn-small"> <i class="material-icons left">delete</i></a></td>
			</tr>
			{{/weights}}
		</tbody>
	</table>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>


</html>
